/* .profile-page {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.profile-page {
    background-color: #f4f4f4;
}

.profile-page-title-box, .profile-page-info-box, .profile-page-tags-box {
    background-color: #D9D9D9;
}

.profile-page-title-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-page-title-section-container div {
    margin-top: 2em;
    border: none;
    border-radius: 15px;
    padding-left: 5em;
    padding-right: 5em;
}

.profile-page-information-sections-container {
    display: flex;
    align-items: stretch;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-page-information-sections-container div {
    width: 30%;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 3em;
    border: none;
    border-radius: 15px;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 4em;
}

.profile-page-boxes-titles {
    text-align: center;
    border-bottom: solid black;
}

.profile-page-button {
    background-color: #979C8E;
    border: none;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
}

.profile-page-button:hover {
    background-color: #EAEAEA;
}